{{ $JS := resources.Get "js/index.js" | js.Build "main.js" | minify |
fingerprint }}

<link rel="preload" href="{{ $JS.RelPermalink }}" as="script" />
<script type="module" src="{{ $JS.RelPermalink }}"></script>

{{- with .Site.Params.GoogleID }}

<script
  async
  src="https://www.googletagmanager.com/gtag/js?id={{ . }}"
></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag('js', new Date());

  gtag('config', '{{ . }}');
</script>

{{- end }}
