{{ $CSS := resources.Match "css/*.css" | resources.Concat "css/bundle.css" |
minify | fingerprint }} {{ $tag := .Scratch.Get "theme"}} {{ $THEME := replace
"css/themes/theme-type.css" "type" $tag | resources.Get | minify | fingerprint
}}

<link rel="stylesheet" href="{{ $CSS.RelPermalink }}" />
<link rel="stylesheet" href="{{ $THEME.RelPermalink }}" />

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css"
  integrity="sha512-q3eWabyZPc1XTCmF+8/LuE1ozpg5xxn7iO89yfSOd5/oKvyqLngoNGsx8jq92Y8eXJ/IRxQbEC+FGSYxtk2oiw=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
