{{ define "main"}}

<section class="projects content-grid">
  <h1 class="breakout">PROJECTS</h1>
  <fieldset>
    <label>
      Design (3)
      <input id="Design" type="checkbox" />
    </label>
    <label>
      Development (5)
      <input id="Development" type="checkbox" />
    </label>
    <label>
      Production (8)
      <input id="Production" type="checkbox" />
    </label>
    <label>
      Writing (11)
      <input id="Writing" type="checkbox" />
    </label>
  </fieldset>
  <ul class="catalog">
    <li>
      <a href="project.html">
        <img src="//placehold.co/250x250" alt="" />
      </a>
      <p>
        <time>2023</time>
        <span>Active</span>
      </p>
    </li>
    <li>
      <a href="">
        <img src="//placehold.co/250x250" alt="" />
      </a>
      <p>
        <time>2023</time>
        <span>Active</span>
      </p>
    </li>
    <li>
      <a href="">
        <img src="//placehold.co/250x250" alt="" />
      </a>
      <p>
        <time>2023</time>
        <span>Active</span>
      </p>
    </li>
    <li>
      <a href="">
        <img src="//placehold.co/250x250" alt="" />
      </a>
      <p>
        <time>2023</time>
        <span>Active</span>
      </p>
    </li>
    <li>
      <a href="">
        <img src="//placehold.co/250x250" alt="" />
      </a>
      <p>
        <time>2023</time>
        <span>Active</span>
      </p>
    </li>
    <li>
      <a href="">
        <img src="//placehold.co/250x250" alt="" />
      </a>
      <p>
        <time>2023</time>
        <span>Active</span>
      </p>
    </li>
    <li>
      <a href="">
        <img src="//placehold.co/250x250" alt="" />
      </a>
      <p>
        <time>2023</time>
        <span>Active</span>
      </p>
    </li>
    <li>
      <a href="">
        <img src="//placehold.co/250x250" alt="" />
      </a>
      <p>
        <time>2023</time>
        <span>Active</span>
      </p>
    </li>
    <li>
      <a href="">
        <img src="//placehold.co/250x250" alt="" />
      </a>
      <p>
        <time>2023</time>
        <span>Active</span>
      </p>
    </li>
    <li>
      <a href="">
        <img src="//placehold.co/250x250" alt="" />
      </a>
      <p>
        <time>2023</time>
        <span>Active</span>
      </p>
    </li>
    <li>
      <a href="">
        <img src="//placehold.co/250x250" alt="" />
      </a>
      <p>
        <time>2023</time>
        <span>Active</span>
      </p>
    </li>
    <li>
      <a href="">
        <img src="//placehold.co/250x250" alt="" />
      </a>
      <p>
        <time>2023</time>
        <span>Active</span>
      </p>
    </li>
    <li>
      <a href="">
        <img src="//placehold.co/250x250" alt="" />
      </a>
      <p>
        <time>2023</time>
        <span>Active</span>
      </p>
    </li>
    <li>
      <a href="">
        <img src="//placehold.co/250x250" alt="" />
      </a>
      <p>
        <time>2023</time>
        <span>Active</span>
      </p>
    </li>
    <li>
      <a href="">
        <img src="//placehold.co/250x250" alt="" />
      </a>
      <p>
        <time>2023</time>
        <span>Active</span>
      </p>
    </li>
    <li>
      <a href="">
        <img src="//placehold.co/250x250" alt="" />
      </a>
      <p>
        <time>2023</time>
        <span>Active</span>
      </p>
    </li>
    <li>
      <a href="">
        <img src="//placehold.co/250x250" alt="" />
      </a>
      <p>
        <time>2023</time>
        <span>Active</span>
      </p>
    </li>
  </ul>
</section>

{{ end }}
