/* Light / Dark Mode Overrides */

[data-theme='light'] {
  --__scheme: light;
  --__bg-clr: var(--white);
  --__text-clr: var(--black);

  --__link-clr: var(--cream-600);
  --__link-hover-clr: var(--shale-600);

  --__highlight-clr: var(--cream-500);

  --__btn-bg: linear-gradient(42deg, var(--shale-700), var(--black));
  --__btn-text: var(--white);
  --__btn-hover-bg: linear-gradient(42deg, var(--black), var(--shale-700));
  --__btn-hover-text: var(--cream-400);

  --__hero-highlight-text: var(--cream-700);
  --__hero-text-clr: var(--black);
  --__hero-title-clr: var(--black);
  --__hero-title-glow-clr: var(--cream-400);
  --__hero-title-highlight: var(--cream-600);
  --__hero-scroll-clr: var(--shale-700);
  --__hero-scroll-hover-clr: var(--cream-600);
  --__hero-gradient-clr-1: var(--cream-300);
  --__hero-gradient-clr-2: var(--cream-500);
  --__hero-img-shadow-clr: var(--cream-300);

  --__services-bg-clr: var(--cream-300);
  --__services-text-clr: var(--black);
  --__services-link-clr: var(--cream-600);
  --__services-link-hover-clr: var(--shale-600);
  --__services-highlight-clr: var(--shale-600);

  --__service-card-bg-clr: var(--cream-400);
  --__service-card-text-clr: var(--cream-700);
  --__service-card-heading-clr: var(--shale-600);
  --__service-card-heading-hover-clr: var(--cream-600);
  --__service-card-shadow-clr: var(--shadow);
  --__service-card-shadow-hover-clr: var(--cream-600);

  --__portfolio-card-bg-clr: var(--shale-300);
  --__portfolio-card-border-clr: var(--shale-700);
  --__portfolio-card-secondary-text-clr: var(--shale-600);

  --__about-bg-clr: var(--shale-300);
  --__about-img-shadow-clr: var(--shale-600);
  --__about-job-title-clr: var(--cream-600);

  --__pricing-bg-clr: var(--shale-400);
  --__pricing-text-clr: var(--black);
  --__pricing-gradient-clr-1: var(--cream-500);
  --__pricing-gradient-clr-2: var(--cream-600);
  --__pricing-gradient-text-clr: var(--white);
  --__pricing-heading-gradient-clr-1: var(--shale-600);
  --__pricing-heading-gradient-clr-2: var(--cream-500);
  --__pricing-hr-clr: var(--shale-700);

  --__contact-form-bg-clr: var(--white);
  --__contact-form-border-clr: var(--cream-500);
  --__contact-form-input-outline-clr: var(--cream-400);
  --__contact-form-shadow-clr: var(--shadow);
  --__contact-group-border-clr: var(--cream-500);

  --__banner-bg-clr: var(--cream-500);
  --__banner-blend-mode: multiply;

  --__service-pg-heading-clr: var(--cream-600);
}

[data-theme='dark'] {
  --__scheme: dark;
  --__bg-clr: var(--black);
  --__text-clr: var(--white);

  --__link-clr: var(--cream-500);
  --__link-hover-clr: var(--shale-400);

  --__highlight-clr: var(--cream-500);

  --__btn-bg: linear-gradient(42deg, var(--cream-400), var(--white));
  --__btn-text: var(--black);
  --__btn-hover-bg: linear-gradient(42deg, var(--white), var(--cream-400));
  --__btn-hover-text: var(--shale-600);

  --__hero-highlight-text: var(--cream-400);
  --__hero-text-clr: var(--white);
  --__hero-title-clr: var(--cream-400);
  --__hero-title-glow-clr: var(--cream-500);
  --__hero-title-highlight: var(--cream-500);
  --__hero-scroll-clr: var(--cream-400);
  --__hero-scroll-hover-clr: var(--white);
  --__hero-gradient-clr-1: var(--shale-700);
  --__hero-gradient-clr-2: var(--black);
  --__hero-img-shadow-clr: var(--cream-500);

  --__services-bg-clr: var(--shale-700);
  --__services-text-clr: var(--white);
  --__services-link-clr: var(--cream-400);
  --__services-link-hover-clr: var(--shale-400);
  --__services-highlight-clr: var(--cream-400);

  --__service-card-bg-clr: var(--black);
  --__service-card-text-clr: var(--shale-300);
  --__service-card-heading-clr: var(--cream-300);
  --__service-card-heading-hover-clr: var(--cream-400);
  --__service-card-shadow-clr: var(--shadow);
  --__service-card-shadow-hover-clr: var(--shale-700);

  --__portfolio-card-bg-clr: var(--shale-700);
  --__portfolio-card-border-clr: var(--shale-600);
  --__portfolio-card-secondary-text-clr: var(--cream-400);

  --__about-bg-clr: var(--shale-700);
  --__about-img-shadow-clr: var(--shale-600);
  --__about-job-title-clr: var(--cream-400);

  --__pricing-bg-clr: var(--shale-600);
  --__pricing-text-clr: var(--white);
  --__pricing-gradient-clr-1: var(--cream-500);
  --__pricing-gradient-clr-2: var(--cream-600);
  --__pricing-gradient-text-clr: var(--white);
  --__pricing-hr-clr: var(--shale-300);
  --__pricing-heading-gradient-clr-1: var(--cream-500);
  --__pricing-heading-gradient-clr-2: var(--cream-300);

  --__contact-form-bg-clr: var(--black);
  --__contact-form-border-clr: var(--cream-500);
  --__contact-form-input-outline-clr: var(--cream-400);
  --__contact-form-shadow-clr: var(--shale-700);
  --__contact-group-border-clr: var(--cream-500);

  --__banner-bg-clr: var(--shale-400);
  --__banner-blend-mode: multiply;

  --__service-pg-heading-clr: var(--cream-500);
}

/*
_______ _    _ ______ __  __ ______            _____ _____
|__   __| |  | |  ____|  \/  |  ____|     /\   |_   _|  __ \
| |  | |__| | |__  | \  / | |__       /  \    | | | |__) |
| |  |  __  |  __| | |\/| |  __|     / /\ \   | | |  _  /
| |  | |  | | |____| |  | | |____   / ____ \ _| |_| | \ \
|_|  |_|  |_|______|_|  |_|______| /_/    \_\_____|_|  \_\


    */

body.theme-air {
  color-scheme: var(--__scheme);
  background-color: var(--__bg-clr);
  color: var(--__text-clr);
}

.highlight {
  color: var(--__highlight-clr);
}

section {
  padding-top: var(--gap);
  padding-bottom: var(--gap);
}

a {
  color: var(--__link-clr);
}

a:hover {
  color: var(--__link-hover-clr);
}

.btn,
button,
input[type='submit'],
input[type='button'],
input[type='reset'] {
  appearance: none;
  text-decoration: none;
  background: var(--__btn-bg);
  color: var(--__btn-text);
  border-width: 0;
  border-radius: 4px;
  padding: var(--quarter-gap) var(--half-gap);
  cursor: pointer;
  font-weight: 600;
  transition-property: color, background-iginge;
  transition-duration: 200ms;
}

.btn:hover,
button:hover,
input[type='submit']:hover,
input[type='button']:hover,
input[type='reset']:hover {
  background: var(--__btn-hover-bg);
  color: var(--__btn-hover-text);
}

/*
  _    _ ______ _____   ____
 | |  | |  ____|  __ \ / __ \
 | |__| | |__  | |__) | |  | |
 |  __  |  __| |  _  /| |  | |
 | |  | | |____| | \ \| |__| |
 |_|  |_|______|_|  \_\\____/


*/

.hero {
  background: linear-gradient(
    0deg,
    var(--__hero-gradient-clr-1),
    var(--__hero-gradient-clr-2)
  ) !important;
  min-height: 80svh;
  color: var(--__hero-text-clr);
  padding: 0;
}

.hero > h1 {
  opacity: 0.2;
  scale: 0.9;
  animation: fade-in 1000ms ease forwards;
  font-size: clamp(2.5rem, 5vw + 1rem, 6.5rem);
  margin-top: var(--fluid-gap);
  margin-bottom: var(--fluid-gap);
  color: var(--__hero-title-clr);
  animation: air-neon 1000ms linear alternate infinite,
    fade-in 1000ms ease forwards;
}

.hero > h1 > span {
  display: inline-block;
  color: var(--__hero-title-highlight);
}

.hero-container {
  margin-bottom: var(--gap);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: var(--gap);
  align-items: center;
  opacity: 0.2;
  scale: 0.9;
  animation: fade-in 1000ms ease forwards;
}

.hero__img {
  border: 2px solid rgba(0, 0, 0, 0.4);
  border-radius: var(--gap);
  transition: all 1000ms ease-in-out;
  filter: drop-shadow(0 0 0.25rem var(--__hero-img-shadow-clr));
}

.hero__copy > h2 {
  font-size: 2rem;
  line-height: 1.5;
  color: var(--__hero-highlight-text);
  text-transform: lowercase;
  letter-spacing: 2px;
  font-weight: 500;
}

.hero_cta {
  font-size: 1.5em;
}

.hero__lead {
  margin-bottom: var(--double-gap);
  margin-inline: var(--fluid-gap);
  font-weight: 600;
}

.hero__scroll-tease {
  margin: var(--gap) 0;
}

.hero__scroll-tease a {
  color: var(--__hero-scroll-clr);
  text-decoration: none;
  font-size: 0.9rem;
  text-transform: lowercase;
  font-weight: 700;
  cursor: pointer;
}

.hero__scroll-tease a:hover {
  color: var(--__hero-scroll-hover-clr);
}

.hero__scroll-tease a::before {
  content: '\2193';

  margin-right: var(--quarter-gap);
}

@keyframes air-neon {
  from {
    filter: drop-shadow(0 0 0.75rem var(--__hero-title-glow-clr));
  }
  to {
    filter: drop-shadow(0 0 0.5rem var(--__hero-title-glow-clr));
  }
}

@media (pointer: fine) {
  .hero__img {
    filter: drop-shadow(0 0 0.25rem var(--__hero-img-shadow-clr)) blur(5px);
  }

  .hero-container:hover .hero__img {
    filter: drop-shadow(0 0 0.25rem var(--__hero-img-shadow-clr)) blur(0);
  }
}

@media screen and (max-width: 960px) {
  .hero > h1 > span {
    display: block;
  }
}

/*
_____ ______ _______      _______ _____ ______  _____
/ ____|  ____|  __ \ \    / /_   _/ ____|  ____|/ ____|
| (___ | |__  | |__) \ \  / /  | || |    | |__  | (___
\___ \|  __| |  _  / \ \/ /   | || |    |  __|  \___ \
____) | |____| | \ \  \  /   _| || |____| |____ ____) |
|_____/|______|_|  \_\  \/   |_____\_____|______|_____/


*/

.services {
  padding-top: var(--gap);
  background-color: var(--__services-bg-clr);
  color: var(--__services-text-clr);
}

.services .highlight {
  color: var(--__services-highlight-clr);
}

.services > h2,
.services > p {
  margin-bottom: var(--half-gap);
}

.services > p {
  font-weight: 600;
}

.services > p > a {
  color: var(--__services-link-clr);
}

.services > p > a:hover {
  color: var(--__services-link-hover-clr);
}

.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: var(--gap);
  margin-top: var(--double-gap);
  margin-bottom: var(--gap);
  color: var(--__services-text-clr);
}

.service-card {
  background-color: var(--__service-card-bg-clr);
  color: var(--__service-card-text-clr);
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  position: relative; /* keeps the link overlays within their container */
  border-radius: var(--gap);
  filter: drop-shadow(0 0 0.5rem var(--__service-card-shadow-clr));
  transition: filter 200ms;
}

.service-card > h3 {
  font-size: clamp(1rem, calc(0.8rem + 1vw), 2rem);
}

.service-card:hover {
  filter: drop-shadow(0 0 0.5rem var(--__service-card-shadow-hover-clr));
}

.service-card > svg {
  font-size: 4rem;
  line-height: 1;
  margin-top: var(--gap);
  margin-left: var(--gap);
}

.service-card__arrow {
  opacity: 0;
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 1;
  transition: opacity 200ms;
  color: var(--__service-card-heading-hover-clr);
  padding: 0;
  margin: 0;
  position: absolute;
  top: var(--gap);
  right: var(--gap);
}

.service-card:hover > .service-card__arrow {
  opacity: 1;
}

.service-card__title {
  margin: 0 var(--gap);
  color: var(--__service-card-heading-clr);
  line-height: 1.3;
  min-height: calc(2em * 1.3);
}

.service-card:hover > .service-card__title {
  color: var(--__service-card-heading-hover-clr);
}

.service-card__body {
  margin: 0 var(--gap) var(--gap);
  font-size: 1rem;
  line-height: 1.5;
}

.service-card__link {
  cursor: pointer;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

/*
  _____   ____  _____ _______ ______ ____  _      _____ ____
 |  __ \ / __ \|  __ \__   __|  ____/ __ \| |    |_   _/ __ \
 | |__) | |  | | |__) | | |  | |__ | |  | | |      | || |  | |
 |  ___/| |  | |  _  /  | |  |  __|| |  | | |      | || |  | |
 | |    | |__| | | \ \  | |  | |   | |__| | |____ _| || |__| |
 |_|     \____/|_|  \_\ |_|  |_|    \____/|______|_____\____/


*/

.portfolio {
  margin-bottom: var(--double-gap);
}

.portfolio-container {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  padding-top: var(--gap);
}

.portfolio-item {
  background-color: var(--__portfolio-card-bg-clr);
  padding: 0;
  border-radius: var(--eighth-gap);
  position: relative;
  display: flex;
  filter: drop-shadow(0 0 0.125rem var(--shadow));
  gap: var(--half-gap);
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .portfolio-item {
    flex-direction: column-reverse;
  }

  .portfolio-item > * {
    height: auto !important;
    min-height: auto !important;
  }

  .portfolio-img {
    width: 100%;
    max-height: 250px;
  }
}
.portfolio-item > * {
  flex: 1 1 0;
  min-height: 100%;
}

.portfolio-img {
  height: 100%;
}

.portfolio-img > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.portfolio-copy {
  display: flex;
  flex-direction: column;
  gap: var(--half-gap);
  justify-content: space-between;
  padding: var(--gap);
}

.portfolio-item__title {
  font-weight: 900;
  margin-bottom: 0;
}

.portfolio-item__location {
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--__portfolio-card-secondary-text-clr);
}

.portfolio-item__copy {
  font-size: 1rem;
  line-height: 1.6;
  flex: 1;
}

/*
           ____   ____  _    _ _______
     /\   |  _ \ / __ \| |  | |__   __|
    /  \  | |_) | |  | | |  | |  | |
   / /\ \ |  _ <| |  | | |  | |  | |
  / ____ \| |_) | |__| | |__| |  | |
 /_/    \_\____/ \____/ \____/   |_|


*/

.about {
  padding-bottom: var(--double-gap);
  background-color: var(--__about-bg-clr);
}

.about-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-img {
  width: 100%;
  max-width: 16rem;
  margin: 0 auto;
  border-radius: 70% 10%;
  filter: drop-shadow(4px 4px 0.5rem var(--__about-img-shadow-clr));
}

.about-body > h3,
.about-body > h4 {
  text-align: center;
  margin: 0;
}

.about-body > h3 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: var(--gap);
}

.about-body > h4 {
  color: var(--__about-job-title-clr);
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 2px;
  margin-top: var(--quarter-gap);
}

/*
  _____  _____  _____ _____ _____ _   _  _____
 |  __ \|  __ \|_   _/ ____|_   _| \ | |/ ____|
 | |__) | |__) | | || |      | | |  \| | |  __
 |  ___/|  _  /  | || |      | | | . ` | | |_ |
 | |    | | \ \ _| || |____ _| |_| |\  | |__| |
 |_|    |_|  \_\_____\_____|_____|_| \_|\_____|


*/

.pricing {
  padding: var(--double-gap) 0;
  background-color: var(--__pricing-bg-clr);
  color: var(--__pricing-text-clr);
}

.pricing-heading > p > strong {
  font-weight: 700;
  font-size: clamp(1rem, calc(0.8rem + 1vw), 2rem);
}

.pricing-heading > p {
  margin-bottom: var(--quarter-gap);
  line-height: 1;
}

.pricing-pitch > p {
  font-weight: 600;
}

.pricing-copy > div > div > .pill {
  display: inline-block;
  margin-bottom: var(--half-gap);
  line-height: 1;
  font-weight: 700;
  vertical-align: middle;
  background: linear-gradient(
    42deg,
    var(--__pricing-gradient-clr-1),
    var(--__pricing-gradient-clr-2)
  );
  color: var(--__pricing-gradient-text-clr);
  padding: var(--eighth-gap);
  border-radius: var(--eighth-gap);
  opacity: 0.8;
}

.pricing-copy {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
  gap: var(--gap);
  padding-block: var(--gap);
  align-items: center;
}

.pricing-copy > :first-child {
  background-image: linear-gradient(
    42deg,
    var(--__pricing-heading-gradient-clr-2),
    var(--__pricing-heading-gradient-clr-1)
  );
  background-clip: text;
  color: transparent;
  text-align: right;
}

.pricing-copy > :last-child {
  border-left: 4px solid var(--__pricing-hr-clr);
  padding-left: var(--gap);
}

.pricing > small {
  line-height: 1.4;
  width: min(75%, 300px);
  text-align: center;
  margin: var(--gap) auto;
  opacity: 0.8;
  border: 1px solid;
  padding: var(--half-gap);
}

.pricing hr,
.service-page hr {
  width: 100%;
  height: 2px;
  background-color: var(--__pricing-hr-clr);
  opacity: 0.3;
}

.pricing > p:last-of-type {
  margin-bottom: var(--gap);
}

.included-services {
  margin-top: var(--gap);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: var(--gap);
}

.included-services > li {
  display: flex;
  flex-direction: column;
  gap: 0 var(--quarter-gap);
}

.included-services > li > strong {
  position: relative;
}

.included-services > li > strong::before {
  content: '\2713';
  display: inline-block;
  background-color: inherit;
  position: absolute;
  left: calc(-1 * var(--gap));
}

.included-services > li > p {
  margin: 0;
  line-height: 1.5;
}

@media screen and (max-width: 960px) {
  .included-services > li > strong::before {
    display: none;
  }
}

/*
   _____ ____  _   _ _______       _____ _______
  / ____/ __ \| \ | |__   __|/\   / ____|__   __|
 | |   | |  | |  \| |  | |  /  \ | |       | |
 | |   | |  | | . ` |  | | / /\ \| |       | |
 | |___| |__| | |\  |  | |/ ____ \ |____   | |
  \_____\____/|_| \_|  |_/_/    \_\_____|  |_|


*/

.contact-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: var(--gap);
  align-items: center;
}

.contact-form {
  background-color: var(--__contact-form-bg-clr);
  border-top: var(--eighth-gap) solid var(--__contact-form-border-clr);
  border-radius: var(--eighth-gap);
  filter: drop-shadow(0 0 0.25rem var(--__contact-form-shadow-clr));
}

.contact-form > fieldset {
  outline: none;
  border: none;
  display: flex;
  flex-direction: column;
  gap: var(--quarter-gap);
}

.contact-form > fieldset > input,
.contact-form > fieldset > textarea,
.contact-form > fieldset > option,
.contact-form > fieldset > select {
  width: 100%;
  font-size: 0.9rem;
  padding: var(--quarter-gap);
  border: 1px solid rgba(200, 200, 200, 0.4);
  border-radius: var(--eighth-gap);
  resize: none;
}

.contact-form > fieldset > input:focus,
.contact-form > fieldset > textarea:focus,
.contact-form > fieldset > option:focus,
.contact-form > fieldset > select:focus {
  outline: 1px solid var(--__contact-form-input-outline-clr);
}

.contact-group {
  border-left: var(--eighth-gap) solid var(--__contact-group-border-clr);
  padding-left: var(--half-gap);
  margin-bottom: var(--gap);
}

.contact-group > p {
  line-height: 1.5;
  margin: 0;
}

.contact-group > p:first-child {
  font-weight: 900;
}

/* Styles for Interior Pages based on the Air Theme */

.banner {
  min-height: max(16rem, 20vh);
  background-color: var(--__banner-bg-clr);
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: var(--__banner-blend-mode);
  margin-bottom: var(--double-gap);
}

.service-heading {
  display: flex;
  gap: var(--half-gap);
  align-items: center;
}

.service-page > h2 {
  margin: var(--double-gap) 0 var(--half-gap);
  color: var(--__service-pg-heading-clr);
}

.service-page > h2:first-of-type {
  margin-top: 0;
}

.service-page p {
  margin-bottom: 0;
}

.service-page > ul > li:not(:last-child) {
  margin-bottom: var(--gap);
}

.service-page li > p {
  margin-bottom: 0;
}

.service-page .btn {
  margin-top: var(--gap);
  display: inline-block;
}

.service-page > h3 {
  line-height: 1.5;
}
