:root {
}

h2 {
  margin-bottom: 0;
  margin-top: 2rem;
}

.color-grid {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.color-box {
  /* filter: drop-shadow(0 0 0.2rem var(--shadow)); */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Neutral Styles */

.neutral > .color-box:nth-child(1) {
  background-color: var(--white);
  color: var(--black);
}

.neutral > .color-box:nth-child(2) {
  background-color: var(--black);
  color: var(--white);
}

/* Air Theme */

.air-primary > .color-box:nth-child(1) {
  background-color: var(--cream-300);
}

.air-primary > .color-box:nth-child(2) {
  background-color: var(--cream-400);
}

.air-primary > .color-box:nth-child(3) {
  background-color: var(--cream-500);
}

.air-primary > .color-box:nth-child(4) {
  background-color: var(--cream-600);
  color: var(--white);
}

.air-primary > .color-box:nth-child(5) {
  background-color: var(--cream-700);
  color: var(--white);
}

.air-secondary > .color-box:nth-child(1) {
  background-color: var(--shale-300);
}

.air-secondary > .color-box:nth-child(2) {
  background-color: var(--shale-400);
}

.air-secondary > .color-box:nth-child(3) {
  background-color: var(--shale-500);
}

.air-secondary > .color-box:nth-child(4) {
  background-color: var(--shale-600);
  color: var(--white);
}

.air-secondary > .color-box:nth-child(5) {
  background-color: var(--shale-700);
  color: var(--white);
}

/* Fire Theme */

.fire-primary > .color-box:nth-child(1) {
  background-color: var(--red-300);
}

.fire-primary > .color-box:nth-child(2) {
  background-color: var(--red-400);
}

.fire-primary > .color-box:nth-child(3) {
  background-color: var(--red-500);
}

.fire-primary > .color-box:nth-child(4) {
  background-color: var(--red-600);
  color: var(--white);
}

.fire-primary > .color-box:nth-child(5) {
  background-color: var(--red-700);
  color: var(--white);
}

.fire-secondary > .color-box:nth-child(1) {
  background-color: var(--orange-300);
}

.fire-secondary > .color-box:nth-child(2) {
  background-color: var(--orange-400);
}

.fire-secondary > .color-box:nth-child(3) {
  background-color: var(--orange-500);
}

.fire-secondary > .color-box:nth-child(4) {
  background-color: var(--orange-600);
  color: var(--white);
}

.fire-secondary > .color-box:nth-child(5) {
  background-color: var(--orange-700);
  color: var(--white);
}

.fire-tertiary > .color-box:nth-child(1) {
  background-color: var(--yellow-300);
}

.fire-tertiary > .color-box:nth-child(2) {
  background-color: var(--yellow-400);
}

.fire-tertiary > .color-box:nth-child(3) {
  background-color: var(--yellow-500);
}

.fire-tertiary > .color-box:nth-child(4) {
  background-color: var(--yellow-600);
  color: var(--white);
}

.fire-tertiary > .color-box:nth-child(5) {
  background-color: var(--yellow-700);
  color: var(--white);
}

/* Water Theme */

.water-primary > .color-box:nth-child(1) {
  background-color: var(--blue-300);
}

.water-primary > .color-box:nth-child(2) {
  background-color: var(--blue-400);
}

.water-primary > .color-box:nth-child(3) {
  background-color: var(--blue-500);
}

.water-primary > .color-box:nth-child(4) {
  background-color: var(--blue-600);
  color: var(--white);
}

.water-primary > .color-box:nth-child(5) {
  background-color: var(--blue-700);
  color: var(--white);
}
