/*
  _______ _    _ ______ __  __ ______
 |__   __| |  | |  ____|  \/  |  ____|
    | |  | |__| | |__  | \  / | |__
    | |  |  __  |  __| | |\/| |  __|
    | |  | |  | | |____| |  | | |____
    |_|  |_|  |_|______|_|  |_|______|


*/

.theme-water {
  color-scheme: dark;
  background-color: var(--darkblue);
  color: var(--white);
}

.highlight {
  color: var(--skyblue);
}

.pill {
  text-decoration: none;
  margin-right: var(--quarter-gap);
  font-size: 1rem;
  line-height: inherit;
  background: linear-gradient(42deg, var(--shale), var(--skyblue));
  color: var(--black);
  padding: var(--eighth-gap);
  border-radius: var(--eighth-gap);
}

section {
  padding-top: var(--gap);
  padding-bottom: var(--gap);
}
a {
  color: var(--skyblue);
}

a:hover {
  color: var(--var(--white));
}

.btn,
button,
input[type='submit'],
input[type='button'],
input[type='reset'] {
  text-decoration: none;
  background: linear-gradient(42deg, var(--skyblue), var(--shale));
  border-width: 0;
  border-radius: 4px;
  padding: var(--quarter-gap) var(--half-gap);
  cursor: pointer;
  color: var(--darkblue);
  font-family: var(--font-roboto);
  font-weight: 600;
  transition: all 300ms;
}

.btn:hover,
button:hover,
input[type='submit']:hover,
input[type='button']:hover,
input[type='reset']:hover {
  background: linear-gradient(42deg, var(--cream), var(--skyblue));
  color: var(--black);
  filter: drop-shadow(0 0 0.25rem var(--gold));
}

/*
  _    _ ______ _____   ____
 | |  | |  ____|  __ \ / __ \
 | |__| | |__  | |__) | |  | |
 |  __  |  __| |  _  /| |  | |
 | |  | | |____| | \ \| |__| |
 |_|  |_|______|_|  \_\\____/


*/

.site-title {
  font-size: 8rem;
  line-height: 0.9;
  margin: 0;
}

.project-filter {
  margin-top: var(--gap);
  margin-bottom: var(--gap);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--eighth-gap);
}

.project-catalog {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: var(--half-gap);
}

.project img {
  transition: filter 200ms;
  filter: grayscale(100%) sepia(0.2) opacity(0.75);
}

.project img:hover {
  filter: none;
}

/*
  _____  _____   ____       _ ______ _____ _______
 |  __ \|  __ \ / __ \     | |  ____/ ____|__   __|
 | |__) | |__) | |  | |    | | |__ | |       | |
 |  ___/|  _  /| |  | |_   | |  __|| |       | |
 | |    | | \ \| |__| | |__| | |___| |____   | |
 |_|    |_|  \_\\____/ \____/|______\_____|  |_|


*/

.project-container {
  padding-top: var(--gap);
  display: grid;
  grid-template-columns: 200px [detail-start] 1fr [detail-end];
  grid-auto-rows: auto;
  gap: var(--gap);
}

.project-container > header > h2 {
  margin: 0;
  line-height: 0.8;
}

.project-tags {
  display: flex;
  flex-wrap: wrap;
  gap: var(--quarter-gap);
  align-items: start;
  justify-content: start;
}

.project-tag {
  font-size: 0.75rem;
  color: var(--darkblue);
  background-color: var(--shale);
  border-radius: var(--eighth-gap);
  padding: var(--eighth-gap) var(--quarter-gap);
  font-weight: 900;
  line-height: 1.5;
  flex: 0 auto;
  min-width: fit-content;
  text-align: center;
}

.project-container > header > button {
  margin-top: var(--half-gap);
}

.project-description {
  grid-area: detail;
}

.project-description > p {
  margin-top: var(--gap);
}
