/*
  ______ _____ _____  ______   _______ _    _ ______ __  __ ______
 |  ____|_   _|  __ \|  ____| |__   __| |  | |  ____|  \/  |  ____|
 | |__    | | | |__) | |__       | |  | |__| | |__  | \  / | |__
 |  __|   | | |  _  /|  __|      | |  |  __  |  __| | |\/| |  __|
 | |     _| |_| | \ \| |____     | |  | |  | | |____| |  | | |____
 |_|    |_____|_|  \_\______|    |_|  |_|  |_|______|_|  |_|______|


*/

body.light-theme {
  --__scheme: light;
  --__bg-clr: var(--white);
  --__text-clr: var(--black);

  --__link-clr: var(--red-600);
  --__link-hover-clr: var(--orange-600);

  --__highlight-clr: var(--red-600);

  --__btn-bg: linear-gradient(42deg, var(--red-700), var(--red-600));
  --__btn-text: var(--white);
  --__btn-hover-bg: linear-gradient(42deg, var(--red-600), var(--red-700));
  --__btn-hover-text: var(--red-500);

  --__hero-bg-clr: var(--orange-500);
  --__hero-border-clr: var(--red-600);
  --__masthead-tagline-clr: var(--orange-700);

  --__toolbar-bg-clr: var(--black);
  --__toolbar-text-clr: var(--white);
  --__tags-bg-clr: var(--black);
  --__tags-link-clr: var(--orange-300);
  --__tags-hover-bg-clr: var(--orange-600);
  --__tags-hover-link-clr: var(--orange-300);
  --__search-toggle-clr: var(--white);
  --__search-toggle-hover-clr: var(--orange-300);
}

body.theme-fire {
  color-scheme: var(--__scheme);
  background-color: var(--__bg-clr);
  color: var(--__text-clr);
}

.highlight {
  color: var(--__highlight-clr);
}

section {
  padding-top: var(--gap);
  padding-bottom: var(--gap);
}

a {
  color: var(--__link-clr);
}

a:hover {
  color: var(--__link-hover-clr);
}

.btn,
button,
input[type='submit'],
input[type='button'],
input[type='reset'] {
  appearance: none;
  text-decoration: none;
  background: var(--__btn-bg);
  color: var(--__btn-text);
  border-width: 0;
  border-radius: 4px;
  padding: var(--quarter-gap) var(--half-gap);
  cursor: pointer;
  font-weight: 600;
  transition-property: color, background-image;
  transition-duration: 200ms;
}

.btn:hover,
button:hover,
input[type='submit']:hover,
input[type='button']:hover,
input[type='reset']:hover {
  background: var(--__btn-hover-bg);
  color: var(--__btn-hover-text);
}

/*
  __  __           _____ _______ _    _ ______          _____
 |  \/  |   /\    / ____|__   __| |  | |  ____|   /\   |  __ \
 | \  / |  /  \  | (___    | |  | |__| | |__     /  \  | |  | |
 | |\/| | / /\ \  \___ \   | |  |  __  |  __|   / /\ \ | |  | |
 | |  | |/ ____ \ ____) |  | |  | |  | | |____ / ____ \| |__| |
 |_|  |_/_/    \_\_____/   |_|  |_|  |_|______/_/    \_\_____/


*/

.hero {
  background-color: var(--__hero-bg-clr);
  background-image: url('../img/volcano.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 16rem;
  background-blend-mode: multiply;
  transition: all 300ms;
  border-top: 4px solid var(--__hero-border-clr);
}

.masthead > div > h1 {
  margin-bottom: var(--quarter-gap);
}

.masthead > div > em {
  color: var(--__masthead-tagline-clr);
}

/*
  _______ ____   ____  _      ____          _____
 |__   __/ __ \ / __ \| |    |  _ \   /\   |  __ \
    | | | |  | | |  | | |    | |_) | /  \  | |__) |
    | | | |  | | |  | | |    |  _ < / /\ \ |  _  /
    | | | |__| | |__| | |____| |_) / ____ \| | \ \
    |_|  \____/ \____/|______|____/_/    \_\_|  \_\


*/
.toolbar {
  background: var(--__toolbar-bg-clr);
  color: var(--__toolbar-text-clr);
  padding: 0;
}

.toolbar-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: var(--eighth-gap);
}

.tags > li > a {
  display: block;
  text-decoration: none;
  font-size: 0.875rem;
  text-decoration: none;
  background-color: var(--__tags-bg-clr);
  color: var(--__tags-link-clr);
  padding: var(--quarter-gap);
}

.tags > li > a:hover,
.tags > li > a:active {
  letter-spacing: 0;
  background-color: var(--__tags-hover-bg-clr);
  color: var(--__tags-hover-link-clr);
}

.search-toggle > a {
  color: var(--__search-toggle-clr);
  font-weight: 900;
  transition: color 200ms, letter-spacing 200ms;
  text-decoration: none;
  cursor: pointer;
  line-height: 1;
}

.search-toggle > a:hover {
  color: var(--__search-toggle-hover-clr);
  letter-spacing: 4px;
}

.no-js .search-toggle {
  display: none !important;
}

@media screen and (max-width: 640px) {
  .toolbar-container {
    flex-direction: column-reverse;
    align-items: center;
  }
}

/*
   _____ ______          _____   _____ _    _   _____   ____  _____  _    _ _____
  / ____|  ____|   /\   |  __ \ / ____| |  | | |  __ \ / __ \|  __ \| |  | |  __ \
 | (___ | |__     /  \  | |__) | |    | |__| | | |__) | |  | | |__) | |  | | |__) |
  \___ \|  __|   / /\ \ |  _  /| |    |  __  | |  ___/| |  | |  ___/| |  | |  ___/
  ____) | |____ / ____ \| | \ \| |____| |  | | | |    | |__| | |    | |__| | |
 |_____/|______/_/    \_\_|  \_\\_____|_|  |_| |_|     \____/|_|     \____/|_|


*/

.search-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100svh;
  background-color: rgba(15, 16, 17, 0.95);
  z-index: 250;
  opacity: 0;
  transition: all 300ms;
  padding: 0;
}

.is-search-visible .search-overlay {
  opacity: 1;
  visibility: visible;
}

.search-overlay__close {
  border: none;
  background: none;
  color: var(--white);
  position: absolute;
  top: var(--fluid-gap);
  right: var(--fluid-gap);
  font-size: 2rem;
  cursor: pointer;
}

.search-overlay__close:hover {
  background: none;
}

.search-module {
  padding-top: var(--double-gap);
  color: var(--white);
}

.search-form {
  font-size: 2rem;
  display: flex;
  gap: var(--gap);
  border-bottom: 2px solid var(--white);
}

.search-form__input {
  flex: 1;
  background: none;
  border: none;
  color: inherit;
  box-shadow: none;
  outline: none;
}

.search-results {
  padding-top: var(--half-gap);
  padding-bottom: var(--half-gap);
  text-align: center;
}

/*
  ______ ______ ______ _____
 |  ____|  ____|  ____|  __ \
 | |__  | |__  | |__  | |  | |
 |  __| |  __| |  __| | |  | |
 | |    | |____| |____| |__| |
 |_|    |______|______|_____/


*/

.main-content {
}

.main-feed {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: var(--gap);
}

.main-feed > article {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  flex: 1 300px;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--half-gap);
  padding: var(--half-gap);
  position: relative;
  transition: box-shadow 200ms ease;
  border-radius: 4px;
  min-height: 150px;
}

.main-feed > article:hover {
  box-shadow: 0 0 0.25rem rgba(15, 16, 17, 0.95),
    0 0 0.75rem rgba(207, 25, 25, 0.5);
}

.main-feed > article > strong {
  margin-right: var(--double-gap);
  word-break: break-word;
}

.main-feed > article > p {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2rem;
}

.main-feed > article > strong > span:not(:last-child) {
  background-color: var(--orange-500);
  padding: 2px var(--eighth-gap);
  margin-right: var(--eighth-gap);
  border-radius: var(--eighth-gap);
  display: inline-block;
  color: var(--white);
}

.main-feed > article > strong > span:last-child {
  opacity: 0;
  transition: opacity 300ms;
  margin-left: var(--half-gap);
}

.main-feed > article:hover > strong > span:last-child {
  opacity: 1;
}

.main-feed > article > a {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.main-feed > article > date {
  font-size: 0.75rem;
  color: var(--shadow);
  transition: color 200ms;
}

.main-feed > article:hover > date {
  color: var(--black);
}

/*
   _____ _____ _   _  _____ _      ______
  / ____|_   _| \ | |/ ____| |    |  ____|
 | (___   | | |  \| | |  __| |    | |__
  \___ \  | | | . ` | | |_ | |    |  __|
  ____) |_| |_| |\  | |__| | |____| |____
 |_____/|_____|_| \_|\_____|______|______|


*/

.single {
  padding-top: var(--gap);
}

.post-container {
  width: clamp(45ch, 50%, 75ch);
}

.featured-img {
  width: 100%;
  border-radius: 1rem;
  margin: 0 auto;
}

.single .post-title {
  line-height: 1.3;
}

.byline {
  font-size: 0.8rem;
}

.post-content {
  padding-top: var(--double-gap);
  padding-bottom: var(--double-gap);
}

.post-content p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.6;
}

.post-container .return a::before {
  content: 'â†';
  display: inline-block;
  margin-right: var(--quarter-gap);
}

/*
           _____   _____ _    _ _______      ________
     /\   |  __ \ / ____| |  | |_   _\ \    / /  ____|
    /  \  | |__) | |    | |__| | | |  \ \  / /| |__
   / /\ \ |  _  /| |    |  __  | | |   \ \/ / |  __|
  / ____ \| | \ \| |____| |  | |_| |_   \  /  | |____
 /_/    \_\_|  \_\\_____|_|  |_|_____|   \/   |______|


*/

.archive {
  padding: var(--double-gap) 0;
}

.archive-list__link {
  text-decoration-line: none;
  font-size: 1rem;
}

.archive-list__link:hover {
  text-decoration-line: underline;
}

.archive-list__date {
  font-size: 0.8rem;
  font-weight: 600;
}

.archive-title > span,
.archive-list__date {
  color: #684a4a;
}
