{{ define "main"}}

<div id="hero" class="hero"></div>
<!-- Single Page -->
<section class="single content-grid">
  <div class="breakout">
    <p>
      <i class="fas fa-arrow-left"></i>
      <a href="/blog">Return to Blog</a>
    </p>
  </div>
  <img
    src="https://placehold.co/250x250"
    height="250"
    width="250"
    alt=""
    class="featured-img"
  />
  <h1>{{ .Title }}</h1>
  <div class="reading-time"><p>2 minute read</p></div>
  <div class="byline">
    <address>
      By
      <a rel="author" href="/me">Dewitt Buckingham</a>
    </address>
    &mdash;
    <span class="byline__date">June 7th, 2024</span>
  </div>
  <div class="post-content">{{ .Content }}</div>
</section>

{{ end }}
