{{ .Scratch.Set "theme" "air" }}

<!DOCTYPE html>
<html lang="en">
  <head>
    {{ partial "head/meta.html" . }}
    <title>
      {{ block "title" . }} {{ .Site.Title }} • Web Development for Small
      Business {{ end }}
    </title>
    {{ partial "head/styles.html" . }} {{ partial "head/scripts.html" . }}
  </head>
  <body class="theme-air no-js is-loading" data-theme="light">
    {{ partial "header/secondary-nav.html" . }}
    <div id="layout" style="min-height: 100svh">
      {{ partial "header/main-nav.html" . }}
      <!-- Start of Content -->
      <main id="content">{{ block "main" . }} {{ end}}</main>
      {{partial "footer/site-footer.html" . }}
    </div>
  </body>
  {{ partial "footer/scripts.html" . }}
</html>
