{{ .Scratch.Set "theme" "earth" }}

<!DOCTYPE html>
<html lang="en">
  <head>
    {{ partial "head/meta.html" . }}
    <title>{{ block "title" . }} {{ .Site.Title }} {{ end }}</title>
    {{ partial "head/styles.html" . }} {{ partial "head/scripts.html" . }}
  </head>
  <body class="theme-earth light-theme no-js is-loading">
    {{ partial "header/secondary-nav.html" . }} {{ partial
    "header/theme-toggle.html" . }}
    <div id="layout">
      {{ partial "header/main-nav.html" . }}
      <!-- Start of Content -->
      <main id="content" class="content-grid">
        {{ block "main" . }} {{ end}}
      </main>
      {{partial "footer/site-footer.html" . }}
    </div>
  </body>
  {{ partial "footer/scripts.html" . }}
</html>
