{{ define "main" }}
<section class="hero breakout">
  <div>
    <div class="hidden">
      <h2>Howdy!</h2>
      <p>
        <span class="highlight">I'm Dewitt Buckingham.</span> I'm a web
        developer and consultant. I also run games of Dungeons &amp; Dragons
        online. I live in Manteca, California.
      </p>
      <p>
        <a href="/#contact" class="btn">Hire me!</a>
      </p>
      <p class="social-tag">@dewittbuck</p>
      <ul class="social-icons">
        <li>
          <a href=""><i class="fab fa-linkedin fa-2x"></i></a>
        </li>
        <li>
          <a href=""><i class="fab fa-instagram fa-2x"></i></a>
        </li>
        <li>
          <a href=""><i class="fab fa-github fa-2x"></i></a>
        </li>
      </ul>
      <p>
        Or email me at
        <a href="mailto:dewitt@zerodaedalus.net" class=""
          >dewitt@zerodaedalus.net</a
        >
      </p>
    </div>
    <img
      class="profile-pic hidden"
      src="https://cdn.zerodaedal.us/2024.03.17%20-%20Profile%20Picture.png"
      alt="Dewitt Buckingham"
    />
  </div>
</section>
{{ end }}
