<!-- Search Overlay -->
<section class="search-overlay" data-search-overlay>
  <button
    id="search-overlay__close"
    class="search-overlay__close"
    data-search-close
  >
    <i class="fas fa-times"></i>
  </button>
  <div class="search-module content-grid">
    <div class="search-form">
      <div class="search-form__icon">
        <i class="fas fa-search"></i>
      </div>
      <input
        type="text"
        class="search-form__input"
        placeholder="Search"
        data-search-input
      />
    </div>
    <div class="search-results">
      <p>Start typing to see results</p>
    </div>
  </div>
</section>
