<!-- Toolbar -->
<section class="toolbar content-grid">
  <div class="toolbar-container breakout">
    <ul class="tags">
      <li>
        <a href="archive.html">Design</a>
      </li>
      <li>
        <a href="">Development</a>
      </li>
      <li>
        <a href="">Writing</a>
      </li>
      <li>
        <a href="">Games</a>
      </li>
      <li>
        <a href="">Miscellaneous</a>
      </li>
    </ul>
    <div class="search-toggle">
      <a data-btn="search"> SEARCH <i class="fas fa-search"></i> </a>
    </div>
  </div>
</section>
