<form
  action="https://api.web3forms.com/submit"
  method="POST"
  id="contact-form"
  class="contact-form"
>
  <fieldset>
    <h2><span class="highlight">GET</span> IN TOUCH</h2>
    <input
      type="hidden"
      name="access_key"
      value="64a4133b-e67f-4e7a-a61e-3494ae7f818f"
    />
    <input type="text" placeholder="Name (required)" name="name" required />
    <input type="email" placeholder="Email (required)" name="email" required />
    <input type="text" placeholder="Company" name="company" />
    <input type="tel" placeholder="Phone Number" name="telephone" />
    <textarea
      name="message"
      id="contact-msg"
      placeholder="Type your message here"
      required
    ></textarea>
    <input
      type="checkbox"
      name="botcheck"
      class="hidden"
      style="display: none"
    />
    <input type="submit" value="Send Message" />
  </fieldset>
</form>
