<header id="header" class="header">
  <button
    class="header__menu-btn"
    data-btn="menu"
    aria-label="Close"
    aria-haspopup="true"
    aria-expanded="true"
  >
    <span class="header__menu-icon">
      <i data-menu-icon class="fas fa-bars fa-fw"></i>
    </span>
  </button>
  <div class="js-menu" data-menu-wrapper>
    <nav id="nav" class="nav" role="navigation">
      <ul class="nav__list">
        <li class="nav__item">
          <a href="./" aria-current="page" class="nav__link"
            ><i class="fas fa-wind"></i>Business</a
          >
        </li>
        <li class="nav__item">
          <a href="blog" class="nav__link"><i class="fas fa-fire"></i>Blog</a>
        </li>
        <li class="nav__item">
          <a href="projects" class="nav__link"
            ><i class="fas fa-tint"></i>Projects</a
          >
        </li>
        <li class="nav__item">
          <a href="me" class="nav__link"><i class="fas fa-seedling"></i>Me</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
