{{- $page := . }}

<header id="header" class="header">
  <button
    class="header__menu-btn"
    data-btn="menu"
    aria-label="Close"
    aria-haspopup="true"
    aria-expanded="true"
  >
    <span class="header__menu-icon">
      <i data-menu-icon class="fas fa-bars fa-fw"></i>
    </span>
  </button>
  <div class="js-menu" data-menu-wrapper>


    <nav id="nav" class="nav" role="navigation">
      <ul class="nav__list">
        {{- range site.Menus.main}} 
        <li class="nav__item">
          {{- if $page.IsMenuCurrent .Menu . }}
          <a href="{{ .URL }}" class="nav__link" aria-current="page"
          >
          {{- else }}
          <a href="{{ .URL }}" class="nav__link">
            
            {{- end }} {{- with .Params }} <i class="fas {{ .icon }}"></i> {{-
            end }} {{ .Name | title }}</a
          >
        </li>
        {{- end }}
      </ul>
    </nav>
  </div>
</header>
