@keyframes air-neon {
  from {
    filter: drop-shadow(0 0 0.75rem var(--gold));
  }
  to {
    filter: drop-shadow(0 0 0.5rem var(--gold));
  }
}

@keyframes fade-in {
  to {
    scale: 1;
    opacity: 1;
  }
}
