.theme-gothic {
  background-color: var(--oceangreen);
}

.theme-gothic a {
  color: var(--neongreen);
}

.theme-gothic .hero a {
  color: var(--oceangreen);
}

.theme-gothic .hero a:hover {
  color: white !important;
  text-decoration-color: white;
}

.theme-gothic .hero {
  background-color: var(--orange);
  background-image: url(../img/horror.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-width: 1px 0;
  border-color: var(--border-color);
  border-style: solid;
  color: var(--brown);
}

.theme-gothic .photo-and-text {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: var(--gap);
}

.theme-gothic .profile-pic {
  max-width: 80%;
  margin: 0 auto;
}

.theme-gothic .social-tag {
  padding-top: 4rem;
  font-weight: bold;
}

.theme-gothic .social-icons {
  margin: 1rem 0;
  display: flex;
  gap: calc(var(--fluid-gap) / 4) var(--gap);
  list-style-type: none;
  flex-wrap: wrap;
}

.theme-gothic .side-projects article {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--gap);
  grid-auto-rows: auto;
  margin-bottom: 4rem;
  align-items: start;
}

.theme-gothic .side-projects img {
  filter: opacity(0.85);
}

.theme-gothic h3::before {
  content: '\2192';
  padding-right: 0.5rem;
}

.theme-gothic article p,
.theme-gothic article ul {
  margin-left: 4rem;
  margin-right: 4rem;
}

/* What I'm Enjoying*/

.list-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: var(--gap);
  border-width: 0 0 1px;
  border-color: var(--border-color);
  border-style: solid;
  padding: var(--gap) 0;
  font-size: 0.95rem;
  transition: all 250ms;
}

.list-container:hover {
  font-size: 1.2rem;
  font-weight: bolder;
}

.list-container:hover span {
  color: var(--neongreen);
}

.list-container li {
  transition: all color 250ms;
  color: var(--neongreen);
}

.list-container li em {
  font-weight: bold;
  color: var(--white);
}

.list-container:hover li {
  margin-bottom: 0.75rem;
}

.list-container span {
  color: var(--light-gray);
  font-family: var(--font-roboto);
  font-weight: bold;
}

.list-container ul {
  margin-left: 0 !important;
  list-style-type: none;
}

.list-container ul li::before {
  content: '→';
  margin-right: 0.2rem;
  display: inline-block;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 2s;
}

.visible {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

/* Things I've Made */

.theme-gothic .text {
  position: sticky;
  top: var(--gap);
}

@media screen and (max-width: 400px) {
  .list-container {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 900px) {
  .theme-gothic .photo-and-text,
  .theme-gothic .side-projects article {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 1000px) {
  .theme-gothic .side-projects article {
    display: flex;
    flex-direction: column;
  }

  .theme-gothic .text {
    position: relative;
  }
}
