.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav a {
  font-family: var(--font-roboto);
}

.nav .active {
  color: var(--white);
  text-decoration: none;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  gap: calc(var(--fluid-gap) / 4) var(--gap);
  list-style-type: none;
}
