.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  gap: calc(var(--fluid-gap) / 4) var(--gap);
  list-style-type: none;
}
