:root {
  /**
   * PALETTE
   */

  --black: #1b1b1b;
  --light-gray: #b1b1b1;
  --red: #be0027;
  --orange: #fb8a2e;
  --yellow: yellow;
  --cream: #decba5;
  --shale: #abb8af;
  --gold: #dbc65d;
  --darkblue: #00387b;
  --skyblue: #00c4cc;
  --oceangreen: #1f2e22;
  --neongreen: #5ecc62;
  --brown: #4d3c2d;

  /**
   * SIZE & SPACING
   */

  --gap: 2rem;
  --half-gap: calc(var(--gap) / 2);
  --double-gap: calc(var(--gap) * 2);
  --quarter-gap: calc(var(--gap) / 4);
  --eighth-gap: calc(var(--gap) / 8);
  --fluid-gap: clamp(var(--half-gap), 3vw, var(--gap));
  --content-width: 1200px;
  --content-perc: 90%;

  /**
   * TYPOGRAPHY
   */

  --font-roboto: 'Roboto', sans-serif;
  --font-raleway: 'Raleway', 'Gill Sans', 'Gill Sans MT', Calibri,
    'Trebuchet MS', sans-serif;
}

/**
 * RESET
 */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  scroll-behavior: smooth;
}

html,
body {
  font-family: var(--font-raleway);
  font-size: 1.125rem;
  line-height: 1.75;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/**
 * GLOBAL
 */

p {
  margin: 0 0 var(--half-gap);
}

h1,
h2,
h3,
h4 {
  margin-bottom: var(--gap);
  font-weight: 900;
}

a {
  color: inherit;
  font-weight: bold;
  text-decoration-line: underline;
  text-decoration-thickness: 0.15em;
  text-underline-offset: 0.3em;
  transition: all 200ms;
}

a:hover {
  text-decoration-color: inherit;
  text-decoration-thickness: 0.3rem;
  letter-spacing: 1px;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

/** 
 * UTILITY 
 */

.content {
  margin: 0;
  padding: 0;
}

.container {
  width: var(--content-perc);
  max-width: var(--content-width);
  margin: 0 auto;
}

.expand:hover {
  letter-spacing: 1px;
}

.hidden-left,
.hidden-right {
  opacity: 0;
  filter: blur(var(--half-gap));
  transition: filter 1200ms, opacity 1200ms, transform 1200ms;
}

.hidden-left {
  transform: translateX(-100%);
}

.hidden-right {
  transform: translateX(100%);
}

.visible {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

@media (prefers-reduced-motion) {
  .hidden-left,
  .hidden-right {
    transition: none;
  }
}

/**
* NAVIGATION
*/

.is-visible .nav {
  opacity: 1;
  clip-path: circle(200% at calc(100% - var(--gap)) var(--gap));
  pointer-events: all;
}

.nav {
  clip-path: circle(0% at calc(100% - var(--gap)) var(--gap));
  pointer-events: none;
  background: linear-gradient(
    42deg,
    var(--orange),
    var(--skyblue),
    var(--yellow)
  );
  width: 100%;
  height: 100vh;
  transition: opacity 200ms, clip-path 500ms;
  position: fixed;
  padding: var(--double-gap) var(--gap) var(--gap);
  top: 0;
  right: 0;
  overflow-y: none;
  z-index: 100;
}

.nav__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  margin-left: 0;
  text-align: center;
}

.nav__link {
  display: flex;
  font-size: min(5vw, 3rem);
  font-weight: 900;
  color: white;
  text-decoration: underline rgba(0, 0, 0, 0);
  align-items: center;
  height: 100%;
  padding: var(--half-gap) var(--gap);
  transition: text-decoration-color 200ms, letter-spacing 200ms;
  text-decoration-thickness: 2px;
}

.nav__link:hover {
  color: white;
}

.nav__link:hover {
  text-decoration-color: white;
  letter-spacing: 4px;
}

.nav__link.active {
  color: var(--black);
}

.fa-tint,
.fa-wind,
.fa-fire,
.fa-seedling {
  margin-right: var(--half-gap);
}

.header__menu-btn {
  appearance: none;
  z-index: 200;
  cursor: pointer;
  color: white;
  background-color: var(--black);
  border: none;
  border-radius: 50% 25%;
  margin-left: auto;
  padding: var(--quarter-gap);
  position: fixed;
  top: var(--gap);
  right: var(--gap);
  font-size: 1.5rem;
}

.header__menu-icon {
  width: var(--gap);
  height: var(--gap);
  display: block;
  position: relative;
  line-height: var(--gap);
  transition: 300ms;
}

/* .header {
  padding: var(--half-gap) 0;
}

.nav {
  margin: 0 auto;
}

.nav a {
  font-weight: 500;
  font-family: var(--font-roboto);
  text-decoration: none;
}

.nav a:hover {
  font-weight: 900;
}

.nav-list {
  display: grid;
  grid-auto-columns: auto;
  grid-auto-flow: column;
  flex-wrap: wrap;
  grid-gap: calc(var(--fluid-gap) / 4) var(--gap);
  list-style-type: none;
  text-align: center;
}

.nav-list svg {
  margin-right: calc(var(--half-gap) / 2);
}

@media screen and (max-width: 400px) {
  .nav-list {
    display: flex;
    flex-direction: column;
  }
} */
