@import url('./utility.css');
@import url('./navigation.css');
@import url('./grid.css');

:root {
  --black: #1b1b1b;
  --light-gray: #b1b1b1;
  --light-grey: #e1e1e1; /* Keep the British spelling */
  --red: #be0027;
  --orange: #fb8a2e;
  --yellow: yellow;
  --cream: #decba5;
  --shale: #abb8af;
  --darkcyan: #38423b;
  --gold: #dbc65d;
  --bronze: #4b4111;
  --darkblue: #00387b;
  --skyblue: #00c4cc;
  --oceangreen: #1f2e22;
  --neongreen: #5ecc62;
  --brown: #4d3c2d;

  --gap: 2rem;
  --half-gap: calc(var(--gap) / 2);
  --double-gap: calc(var(--gap) * 2);
  --quad-gap: calc(var(--gap) * 4);
  --quarter-gap: calc(var(--gap) / 4);
  --eighth-gap: calc(var(--gap) / 8);
  --fluid-gap: clamp(var(--half-gap), 3vw, var(--gap));
  --reading-width: clamp(45ch, 70%, 75ch);
  --content-width: max(90%, 1400px);

  --font-roboto: 'Roboto', sans-serif;
  --font-raleway: 'Raleway', 'Gill Sans', 'Gill Sans MT', Calibri,
    'Trebuchet MS', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  scroll-behavior: smooth;
}

html,
body {
  font-family: var(--font-raleway);
  font-size: 1.125rem;
  line-height: 1.75;
  overflow-x: clip;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/**
 * GLOBAL
 */

p {
  margin: 0 0 var(--half-gap);
}

h1,
h2,
h3,
h4 {
  margin-bottom: var(--gap);
  font-weight: 900;
}

a {
  color: inherit;
  font-weight: bold;
  text-decoration-line: underline;
  text-decoration-thickness: 0.15em;
  text-underline-offset: 0.3em;
  transition: all 200ms;
}

a:hover {
  text-decoration-color: inherit;
  text-decoration-thickness: 0.3rem;
  letter-spacing: 1px;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}
