/**
 * THEME
 */

.theme-earth {
  color-scheme: dark;
  background-color: var(--oceangreen);
  color: white;
}

.theme-earth .nav {
  background: linear-gradient(
    28deg,
    var(--cream) 20%,
    var(--neongreen),
    var(--skyblue)
  );
}

.theme-earth .header__menu-icon:hover {
  color: var(--neongreen);
}

a {
  color: var(--neongreen);
}

a:hover {
  color: var(--cream);
}

.hero,
.favorites,
.side-projects {
  padding-top: var(--half-gap);
  padding-bottom: var(--half-gap);
}

/**
 * HERO
 */

.hero {
  padding-top: var(--half-gap);
  padding-bottom: var(--half-gap);
  background-color: var(--black);
  background-image: url(../img/oriental-tiles.png);
  background-blend-mode: darken;
  background-attachment: fixed;
  border-width: 1px 0;
  border-color: rgba(110, 110, 110, 0.2);
  border-style: solid;
  color: white;
}

.hero p {
  font-weight: 700;
}

.subtitle span {
  background-color: var(--cream);
  padding: 4px 1px;
  color: var(--black);
}

.photo-and-text {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: var(--gap);
}

.profile-pic {
  max-width: 80%;
  margin: 0 auto;
}

.social-tag {
  padding-top: var(--double-gap);
  font-weight: bold;
}

.social-icons {
  margin: 1rem 0;
  display: flex;
  gap: calc(var(--fluid-gap) / 4) var(--gap);
  list-style-type: none;
  flex-wrap: wrap;
}

.side-projects article {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--gap);
  grid-auto-rows: auto;
  margin-bottom: var(--double-gap);
  align-items: start;
}

.side-projects article p > a:hover {
  letter-spacing: 0;
}

.side-projects img {
  filter: opacity(0.8);
}

h3::before {
  content: '\2192';
  padding-right: 0.5rem;
}

article p,
article ul {
  margin-left: var(--double-gap);
  margin-right: var(--double-gap);
}

/**
 * FAVORITES
 */

.list-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: var(--gap);
  border-width: 0 0 1px;
  border-color: rgba(110, 110, 110, 0.4);
  border-style: solid;
  padding: var(--gap) 0;
  /* font-size: 0.95rem; */
  transition: all 200ms;
}

.list-container:hover {
  /* font-size: 1.4rem; */
  /* font-weight: bolder; */
}

.list-container li {
  transition: all 250ms;
  color: var(--neongreen);
}

.list-container li em {
  font-weight: bold;
  color: var(--white);
}

.list-container:hover li {
  margin-bottom: 0.75rem;
  color: white;
}

.list-container span {
  color: var(--cream);
  font-family: var(--font-roboto);
  font-weight: bold;
}

.list-container ul {
  margin-left: 0 !important;
  list-style-type: none;
}

.list-container ul li::before {
  content: '→';
  margin-right: 0.2rem;
  display: inline-block;
}

/* Things I've Made */

.text {
  position: sticky;
  top: var(--gap);
}

@media screen and (max-width: 400px) {
  .list-container {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 900px) {
  .photo-and-text,
  .side-projects article {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 1000px) {
  .side-projects article {
    display: flex;
    flex-direction: column;
  }

  .text {
    position: relative;
  }
}
