/**
 * THEME
 */

.theme-fire {
  color-scheme: light;
  background-color: whitesmoke;
  color: var(--black);
}

.theme-fire .nav {
  background: linear-gradient(42deg, var(--red), var(--orange), var(--yellow));
}

.theme-fire .header__menu-icon:hover {
  color: var(--orange);
}

.no-js .search-toggle,
.no-js .header__menu-btn {
  display: none;
}

.content {
  padding-top: var(--double-gap);
  padding-bottom: var(--gap);
}

.masthead {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: var(--double-gap);
  padding-bottom: var(--half-gap);
  border-bottom: 4px solid var(--black);
}

.site-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 5rem;
  line-height: 1.05;
  font-weight: 700;
}

.site-title span {
  position: relative;
}

.site-title span:before {
  content: '';
  background-color: var(--orange);
  position: absolute;
  height: 100%;
  width: 50vw;
  left: -2rem;
  top: -1.5rem;
  z-index: -1;
}

.site-tagline {
  font-weight: 600;
  justify-self: end;
  align-self: end;
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .masthead {
    grid-template-columns: 1fr;
    gap: var(--half-gap);
  }

  .site-title {
    font-size: 4rem;
  }

  .site-tagline {
    justify-self: start;
    align-self: start;
  }
}

/**
 * TAGS / SEARCH
 */

.toolbar {
  margin-top: var(--half-gap);
  display: flex;
  gap: var(--half-gap);
  flex-wrap: wrap;
  justify-content: space-between;
}
.tags__list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--half-gap);
}

.tags__link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.search-toggle {
  font-weight: 900;
}

.search-toggle:hover {
  color: var(--orange);
  text-decoration: underline;
}

.search-toggle__btn {
  background: none;
  border: none;
  padding: 0;
  text-transform: uppercase;
  color: inherit;
  font: inherit;
  outline: inherit;
  cursor: pointer;
  transition: color 200ms, letter-spacing 200ms;
}

.search-toggle__btn:hover {
  letter-spacing: 4px;
}

.search-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(15, 16, 17, 0.95);
  z-index: 250;
  opacity: 0;
  transition: all 300ms;
}

.is-search-visible .search-overlay {
  opacity: 1;
  visibility: visible;
}

.search-overlay__close {
  border: none;
  background: none;
  color: white;
  position: absolute;
  top: var(--half-gap);
  right: var(--half-gap);
  font-size: 2rem;
  cursor: pointer;
}

.search-module {
  padding-top: var(--double-gap);
  color: white;
}

.search-form {
  font-size: 2rem;
  display: flex;
  gap: var(--gap);
  border-bottom: 2px solid white;
}

.search-form__input {
  flex: 1;
  background: none;
  border: none;
  color: inherit;
  box-shadow: none;
  outline: none;
}

.search-results {
  padding-top: var(--half-gap);
  padding-bottom: var(--half-gap);
  text-align: center;
}
