/*
  ______ _____ _____  ______   _______ _    _ ______ __  __ ______
 |  ____|_   _|  __ \|  ____| |__   __| |  | |  ____|  \/  |  ____|
 | |__    | | | |__) | |__       | |  | |__| | |__  | \  / | |__
 |  __|   | | |  _  /|  __|      | |  |  __  |  __| | |\/| |  __|
 | |     _| |_| | \ \| |____     | |  | |  | | |____| |  | | |____
 |_|    |_____|_|  \_\______|    |_|  |_|  |_|______|_|  |_|______|


*/
.theme-fire {
  color-scheme: light;
  background-color: whitesmoke;
  color: var(--black);
}

.theme-fire .nav {
  background: linear-gradient(42deg, var(--red), var(--orange), var(--yellow));
}

.theme-fire .header__menu-icon:hover {
  color: var(--orange);
}

/*
  _      _____ _   _ _  __ _____
 | |    |_   _| \ | | |/ // ____|
 | |      | | |  \| | ' /| (___
 | |      | | | . ` |  <  \___ \
 | |____ _| |_| |\  | . \ ____) |
 |______|_____|_| \_|_|\_\_____/


*/

a {
  color: var(--red);
}

a:hover {
  color: var(--orange);
}

/*
  __  __           _____ _______ _    _ ______          _____
 |  \/  |   /\    / ____|__   __| |  | |  ____|   /\   |  __ \
 | \  / |  /  \  | (___    | |  | |__| | |__     /  \  | |  | |
 | |\/| | / /\ \  \___ \   | |  |  __  |  __|   / /\ \ | |  | |
 | |  | |/ ____ \ ____) |  | |  | |  | | |____ / ____ \| |__| |
 |_|  |_/_/    \_\_____/   |_|  |_|  |_|______/_/    \_\_____/


*/
.content {
  padding-top: 0;
  padding-bottom: var(--gap);
}

.masthead {
  background-color: var(--orange);
  background-image: url('../img/volcano.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 16rem;
  background-blend-mode: multiply;
  transition: all 300ms;
  transition-behavior: allow-discrete;
  /* display: grid;
  grid-template-columns: 3fr 2fr;
  gap: var(--double-gap);
  padding-bottom: var(--half-gap);
  border-bottom: 4px solid var(--black); */
}

.is-scrolled {
  min-height: 4rem;
}

.site-title,
.site-tagline {
  display: none;
}

.site-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 5rem;
  line-height: 1.05;
  font-weight: 700;
}

.site-title span {
  background: linear-gradient(
    42deg,
    color-mix(in srgb, var(--orange) 69%, var(--red)),
    var(--orange),
    color-mix(in srgb, var(--orange) 69%, var(--yellow)),
    transparent 80%
  );
  padding-top: var(--double-gap);
}

.site-title span:before {
  content: '';
  border-radius: var(--double-gap) var(--quarter-gap);
  position: absolute;
  height: 40%;
  width: 50vw;
  left: -2rem;
  top: 2rem;
  z-index: -1;
}

.site-tagline {
  font-weight: 600;
  justify-self: end;
  align-self: end;
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .masthead {
    grid-template-columns: 1fr;
    gap: var(--half-gap);
  }

  .site-title {
    font-size: 4rem;
  }

  .site-tagline {
    justify-self: start;
    align-self: start;
  }
}

/*
  _______ ____   ____  _      ____          _____
 |__   __/ __ \ / __ \| |    |  _ \   /\   |  __ \
    | | | |  | | |  | | |    | |_) | /  \  | |__) |
    | | | |  | | |  | | |    |  _ < / /\ \ |  _  /
    | | | |__| | |__| | |____| |_) / ____ \| | \ \
    |_|  \____/ \____/|______|____/_/    \_\_|  \_\


*/
.toolbar {
  margin-top: var(--half-gap);

  display: flex;
  gap: var(--half-gap);
  flex-wrap: wrap;
  justify-content: space-between;
}

.tags__list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--eighth-gap);
}

.tags__link {
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 900;
  text-decoration: none;
  background-color: var(--red);
  color: white;
  padding: var(--eighth-gap);
}

.tags__link:hover {
  letter-spacing: 0;
  background-color: var(--black);
  color: white;
}

.no-js .search-toggle {
  display: none !important;
}

.search-toggle {
  font-weight: 900;
  text-align: right;
}

.search-toggle:hover {
  color: var(--orange);
  text-decoration: underline;
}

.search-toggle__btn {
  background: none;
  border: none;
  padding: 0;
  text-transform: uppercase;
  color: inherit;
  font: inherit;
  outline: inherit;
  cursor: pointer;
  transition: color 200ms, letter-spacing 200ms;
}

.search-toggle__btn:hover {
  letter-spacing: 4px;
}

/*
   _____ ______          _____   _____ _    _   _____   ____  _____  _    _ _____
  / ____|  ____|   /\   |  __ \ / ____| |  | | |  __ \ / __ \|  __ \| |  | |  __ \
 | (___ | |__     /  \  | |__) | |    | |__| | | |__) | |  | | |__) | |  | | |__) |
  \___ \|  __|   / /\ \ |  _  /| |    |  __  | |  ___/| |  | |  ___/| |  | |  ___/
  ____) | |____ / ____ \| | \ \| |____| |  | | | |    | |__| | |    | |__| | |
 |_____/|______/_/    \_\_|  \_\\_____|_|  |_| |_|     \____/|_|     \____/|_|


*/

.search-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(15, 16, 17, 0.95);
  z-index: 250;
  opacity: 0;
  transition: all 300ms;
}

.is-search-visible .search-overlay {
  opacity: 1;
  visibility: visible;
}

.search-overlay__close {
  border: none;
  background: none;
  color: white;
  position: absolute;
  top: var(--half-gap);
  right: var(--half-gap);
  font-size: 2rem;
  cursor: pointer;
}

.search-module {
  padding-top: var(--double-gap);
  color: white;
}

.search-form {
  font-size: 2rem;
  display: flex;
  gap: var(--gap);
  border-bottom: 2px solid white;
}

.search-form__input {
  flex: 1;
  background: none;
  border: none;
  color: inherit;
  box-shadow: none;
  outline: none;
}

.search-results {
  padding-top: var(--half-gap);
  padding-bottom: var(--half-gap);
  text-align: center;
}

.aside {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  padding: var(--gap);
}

.popular-posts li {
  margin-bottom: var(--quarter-gap);
  line-height: 1.2;
}

.popular-posts a {
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
}

.popular-posts a:hover {
  letter-spacing: 0;
  text-decoration-thickness: 4px;
}

.aside-label {
  padding: 0;
  margin-bottom: var(--quarter-gap);
  font-family: var(--font-roboto);
  font-size: 0.8rem;
  font-weight: 900;
  text-decoration: underline 2px;
  text-underline-offset: 2px;
  text-transform: uppercase;
}

.bio-snippet {
  font-size: 0.9rem;
  line-height: 1.2;
}

.bio-snippet img {
  border-radius: 50%;
  margin-top: var(--gap);
  margin-bottom: var(--half-gap);
}

.bio-snippet a {
  text-underline-offset: 1px;
}

.bio-snippet a:hover {
  letter-spacing: 0;
}

/*
  ______ ______ ______ _____
 |  ____|  ____|  ____|  __ \
 | |__  | |__  | |__  | |  | |
 |  __| |  __| |  __| | |  | |
 | |    | |____| |____| |__| |
 |_|    |______|______|_____/


*/

.main-content {
  display: grid;
  grid-template-columns: 20rem 1fr;
  gap: var(--gap);
  align-items: start;
}

.main-feed {
  padding: 0 var(--double-gap);
}

.main-feed article {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: var(--gap);
  margin-top: var(--gap);
  margin-bottom: var(--double-gap);
}

.main-feed article img {
  object-fit: cover;
  width: 100%;
}

.post-title {
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

.post-title > a {
  font-size: 1.5rem;
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
}

.post-title > a:hover {
  letter-spacing: 0;
  text-decoration-thickness: 4px;
}

.post-date {
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 1.2;
}

.post-description {
  font-style: italic;
  margin: var(--quarter-gap) 0 var(--gap);
  font-size: 0.8rem;
  line-height: 1.2;
  font-family: var(--font-roboto);
  font-weight: 500;
}

.read-more {
  display: block;
  margin-top: var(--half-gap);
  font-style: normal;
  font-weight: 900;
}

.post-tags {
  display: flex;
  flex-wrap: wrap;
  gap: var(--quarter-gap);
}

.post-tag {
  font-size: 0.8rem;
  font-weight: 900;
  text-decoration: none;
  background-color: var(--red);
  color: white;
  padding: var(--eighth-gap);
}

.post-tag:hover {
  letter-spacing: 0;
  background-color: var(--black);
  color: white;
}

@media screen and (max-width: 1000px) {
  .main-feed article {
    display: flex;
    flex-direction: column;
  }
}
