/**
 * THEME
 */

.theme-earth {
  color-scheme: dark;
  background-color: var(--oceangreen);
  color: white;
}

a {
  color: var(--neongreen);
}

a:hover {
  color: var(--orange);
}

/**
* NAVIGATION
*/

.header {
  padding: var(--half-gap) 0;
}

.nav {
  margin: 0 auto;
}

.nav a {
  font-weight: 500;
  font-family: var(--font-roboto);
  text-decoration: none;
}

.nav a:hover {
  font-weight: 900;
  letter-spacing: 0.1em;
}

.nav .active {
  color: var(--white);
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  gap: calc(var(--fluid-gap) / 4) var(--gap);
  list-style-type: none;
}

.nav-list svg {
  margin-right: calc(var(--half-gap) / 2);
}

/**
 * HERO
 */

.hero {
  padding-top: var(--half-gap);
  background-color: var(--orange);
  background-image: url(../img/horror.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-width: 1px 0;
  border-color: var(--transparent-border);
  border-style: solid;
  /* color: var(--brown); */
  color: white;
}

.hero p {
  font-weight: 700;
}

.hero h2 {
  font-weight: 900;
}

.hero a {
  color: var(--oceangreen);
}

.hero a:hover {
  color: white !important;
  text-decoration-color: white;
}

.photo-and-text {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: var(--gap);
}

.profile-pic {
  max-width: 80%;
  margin: 0 auto;
}

.social-tag {
  padding-top: 4rem;
  font-weight: bold;
}

.social-icons {
  margin: 1rem 0;
  display: flex;
  gap: calc(var(--fluid-gap) / 4) var(--gap);
  list-style-type: none;
  flex-wrap: wrap;
}

.side-projects article {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--gap);
  grid-auto-rows: auto;
  margin-bottom: 4rem;
  align-items: start;
}

.side-projects img {
  filter: opacity(0.85);
}

h3::before {
  content: '\2192';
  padding-right: 0.5rem;
}

article p,
article ul {
  margin-left: 4rem;
  margin-right: 4rem;
}

/* What I'm Enjoying*/

.list-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: var(--gap);
  border-width: 0 0 1px;
  border-color: var(--border-color);
  border-style: solid;
  padding: var(--gap) 0;
  font-size: 0.95rem;
  transition: all 250ms;
}

.list-container:hover {
  font-size: 1.2rem;
  font-weight: bolder;
}

.list-container:hover span {
  color: var(--neongreen);
}

.list-container li {
  transition: all color 250ms;
  color: var(--neongreen);
}

.list-container li em {
  font-weight: bold;
  color: var(--white);
}

.list-container:hover li {
  margin-bottom: 0.75rem;
}

.list-container span {
  color: var(--light-gray);
  font-family: var(--font-roboto);
  font-weight: bold;
}

.list-container ul {
  margin-left: 0 !important;
  list-style-type: none;
}

.list-container ul li::before {
  content: '→';
  margin-right: 0.2rem;
  display: inline-block;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 2s;
}

.visible {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

/* Things I've Made */

.text {
  position: sticky;
  top: var(--gap);
}

@media screen and (max-width: 400px) {
  .list-container {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 900px) {
  .photo-and-text,
  .side-projects article {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 1000px) {
  .side-projects article {
    display: flex;
    flex-direction: column;
  }

  .text {
    position: relative;
  }
}
